<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="manifestLocation" value="manifest"/>
    <add key="srcLocation" value="src"/>

    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:write-to:ColoredConsole" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="D:\salesforce.migrations\solution\Logs\smal-{Date}.txt" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />

    <add key="salesforcemigrations:projectlocation" value="d:\salesforce.migrations\solution" />

  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="SoapBinding1" />
        <binding name="MetadataBinding">
          <security mode="Transport" />
        </binding>
        <binding name="MetadataBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://test.salesforce.com/services/Soap/c/34.0/0DFV0000000CbCh"
        binding="basicHttpBinding" bindingConfiguration="SoapBinding"
        contract="SforceServiceReference.Soap" name="Soap" />
      <endpoint address="https://cs12.salesforce.com/services/Soap/m/34.0"
        binding="basicHttpBinding" bindingConfiguration="MetadataBinding"
        contract="MetaDataServiceReference.MetadataPortType" name="Metadata" />
    </client>
  </system.serviceModel>
</configuration>