<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <add key="serilog:minimum-level" value="Verbose" />
      <add key="serilog:write-to:ColoredConsole" />
      <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Logs\Salesforce.Migrations.Assistant.Library\smal-{Date}.txt" />
      <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
  </appSettings>
  <system.serviceModel>
      <bindings />
      <client />
  </system.serviceModel>
</configuration>