<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:write-to:ColoredConsole" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Logs\Salesforce.Migrations.Assistant.Library\smal-{Date}.txt" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />

    <add key="salesforce:context:environment" value="Sandbox" />
    <add key="salesforce:context:username" value="dave.gardner@us.sogeti.com" />
    <add key="salesforce:context:password" value="@Tngds10!" />
    <add key="salesforce:context:token" value="xoWNt5SPFiT0RZWo0QBQHqz8" />

    <add key="salesforce:context:workingdirectory" value="d:\salesforce.migrations\" />
    
    
    <add key="salesforcemigrations:projectlocation" value="d:\salesforce.migrations\solution" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>